@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */

:root {
    --colorspace: oklch;

    /* Theme Colors */
    /* Green */
    --min-bg: #96e28a;
    --max-bg: #193815;

    --min-text: #bef5b5;
    --max-text: #fff;

    /* Dark */
    /* --min-bg: #555;
    --max-bg: #000;

    --min-text: #cfcfcf;
    --max-text: #fff; */
}

/* End theme */
/* Components */

body {
    @apply color-vigi-90 cursor-default;
    user-select: none;
}

.common-window {
    @apply p-3 gap-3 w-screen h-screen;
    @apply flex;

    @apply ease-out duration-100;
}

.common-window.collapsed {
    @apply gap-0;
}

.main-window {
    @apply grow flex flex-col gap-3;
}

.browser-window {
    @apply grow overflow-auto text-wrap select-text cursor-auto;
}

.window-controls {
    @apply flex justify-start;
}

.button {
    @apply p-1 rounded-lg;
    @apply ease-out duration-150;

    @apply hover:color-vigi-90;
    @apply cursor-pointer;

    @apply active:color-vigi-100;
}

.tabs-category {
    @apply flex justify-between mt-2 mx-2;
}

.block {
    @apply p-2 rounded-xl color-vigi-60;
}

.sidebar {
    @apply shrink-0 grow-0 flex flex-col w-1/5;
    @apply ease-out duration-300;

    @apply max-sm:hidden;
}

.sidebar.collapsed {
    @apply basis-0;

    @apply p-0 m-0;
    @apply overflow-hidden;
}

.top-bar {
    @apply flex max-sm:flex-row-reverse gap-3;
}

.top-bar-buttons {
    @apply flex;
}

.hide-sidebar-button,
.back-button,
.forward-button {
    @apply max-sm:hidden;
}

.open-tabs-page-button {
    @apply sm:hidden;
}

.search-input {
    @apply px-2 py-1 rounded-xl grow;

    @apply color-vigi-60 outline-none;
    @apply focus:color-vigi-50 hover:color-vigi-55;

    @apply ease-out duration-100;
}

input::placeholder {
    @apply color-vigi-60;
    @apply focus:color-vigi-50 hover:color-vigi-55;
}

.tabs {
    @apply flex flex-col-reverse gap-1 mt-2 grow overflow-auto justify-end;
}

.tab {
    @apply p-2 rounded-xl color-vigi-50;
    @apply cursor-pointer;
    @apply ease-out duration-100;

    @apply hover:color-vigi-55;

    @apply hover:px-4;

    @apply flex items-center gap-2 w-full truncate;
}

.tab.loading {
    @apply animate-load-pulse;
}

.close-button {
    @apply p-1 rounded-lg;
    @apply ease-out duration-100;

    @apply hover:color-vigi-90 active:color-vigi-100;
}

.tab.active {
    @apply color-vigi-40 font-bold;
    @apply hover:color-vigi-45;
}

::selection {
    @apply color-vigi-60;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-xl color-vigi-70 bg-clip-content;
    border: 6px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply color-vigi-75;
    border: 5px solid transparent;
}
